article

  section(data-bespoke-state='main-slide', data-bespoke-backdrop='orion')
    h1 The Rise of Microservices 
    h3 <a href="http://twitter.com/adrianrossouw">@adrianrossouw</a>

  section
    h2 What are microservices?


  section
    h2 The Secret History 
    hr
    ul
      li Microservices are just a new name for an existing approach to systems.

  section
    h2 The Promise of Microservices
  
  section
    h2 My Story

  section
    h2 API Gateways

  section
    h2 Authentication

  section
    h2 Sync vs Async

  section
    h2 Organizational effects

  section
    h1 What people don't tell you

  section
    h2 DevOps DevOps DevOps

  section
    h2 Deployment

  section
    h2 Orchestration

  section
    h2 Service Discovery



  section
    h2 Instrumentation

  section(data-bespoke-backdrop='orion')
    h1 Thanks!
    br
    h3 <a href="mailto:hello@daemon.co.za">hello@daemon.co.za</a>
    h3 <a href="http://twitter.com/adrianrossouw">@adrianrossouw</a> on Twitter
    h3 <a href="http://github.com/adrianrossouw">@adrianrossouw</a> on Github
    h3 <a href="http://daemon.co.za">daemon.co.za</a>
