@import "~prism/themes/prism-twilight.css";
pre {
  background-color: black !important;
}
section img {
  max-height: 500px !important;
}

.gears {
  background-image: url('images/gears.png')
}
.earth {
  background-image: url('images/earth.jpg')
}
.plans {
  background-image: url('images/plans.jpg');
  color: black;
}
.orion {
  background-image: url('images/orion.jpg')
}

.explanation {
  background-color: desaturate(green, 50%)
}
